/*The CSS code is property to Mr. You (Kristiyan Valchev) and can only be viewed*/
/*If you want to use part of the code, please first contact me: krisvalchev@gmail.com*/

html
{
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    -webkit-overflow: hidden;
    scroll-behavior: smooth;
}

body
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    background-color: #e9e9e9;
    overflow: hidden;
    -webkit-overflow: hidden;
}

/*#region Scrow bar */
::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
    background-color: #c7c7c7;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb
{
	background: #a1a1a1; 
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #919191;
}
/*#endregion Scrow bar */

/*#region Top bar */
.topBar
{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: transparent;
    z-index: 2;

    transition: ease .3s;
    animation: dropDown .3s ease-out forwards .1s;
    transform: translateY(-110px);
    opacity: 0;
}

.topBar a
{
    display: inline;
    position: relative;
    padding: 22px 30px;
    font-size: 22px;
    text-decoration: none;
    color: #2f2f2f;
    top: calc(50% - 15px);
    left: 50px;

    transition: ease .3s;
}

.topBar a::before
{
    content: "";
    position: absolute;
    width: 90%;
    height: 2.1px;
    bottom: 10px;
    left: 5%;
    background-color: #B24204;
    visibility: hidden;
    transform: scaleX(0);
    
    transition: ease .3s;
}

.topBar a.Logo
{
    font-size: 36px;
    font-weight: bolder;
    color: #1f1f1f;
}

.topBar a.Contacts
{
    display: none;
}

.topBar a.Active
{
    color: #FF620B99;
}

.topBar a.Active:hover
{
    color: #FF620Bbb;
}

.topBar a:hover
{
    color: #2f2f2fc4;
}

.topBar a:hover::before
{
    visibility: visible;
    transform: scaleX(1);
}

.topBar a.Logo:hover
{
    color: #1f1f1fc4;
}

.topBar a.threeLineButton
{
    display: none;
    float: left;
    width: 70px;
    height: 35px;
    top: 25;
    left: 30;
    background-color: transparent;
    padding: 0;

    transition: ease .3s;
}

.topBar a.threeLineButton div
{
    float: right;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: #323449;
    border-radius: 999px;

    transition: ease .3s;
}

.topBar a.threeLineButton div:nth-child(1)
{
    width: 100%;
    top: 0;
}

.topBar a.threeLineButton div:nth-child(2)
{
    width: 75%;
    top: calc(50% - 2px);
}

.topBar a.threeLineButton div:nth-child(3)
{
    width: 100%;
    bottom: 0;
}

.topBar a.threeLineButton:hover::before
{
    transform: scaleX(0);
}

.topBar a.threeLineButton:hover div
{
    background-color: #2f2f2fc4;
    width: 100%;
}
/*#endregion Top bar */

/*#region Side menu */
.sideMenu
{
    display: none;
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: auto;
    bottom: -40;
    left: -40;
    background-image: linear-gradient(to top right, #b6b6b6, #d0d0d0);
    border-radius: 40px;

    z-index: 10;

    transition: ease .3s;
    transform: translate(-700px);
}

.sideMenu a
{
    display: table;
    position: relative;
    top: 120;
    left: 90;
    font-size: 30px;
    text-decoration: none;
    color: #1f1f1f;
    line-height: 60px;

    transition: ease .3s;
}

.sideMenu a i
{
    color: #1f1f1f;
    transition: ease .3s;
}

.sideMenu a:hover i
{
    color: #FF620B;
}

.sideMenu a.Active
{
    color: #FF620B;
}

.sideMenu .Line
{
    position: absolute;
    width: 50%;
    height: 4px;
    top: 280;
    left: 60;
    background-color: #1f1f1f40;
    border-radius: 999px;

    transition: ease .3s;
}

.sideMenu .contactLinks
{
    position: absolute;
    width: calc(100% - 40px);
    height: 50px;
    bottom: 70;
    left: 40;

    transition: ease .3s;
}

.sideMenu .contactLinks a
{
    display: unset;
    position: relative;
    top: 0;
    left: 20;
    font-size: 50px;
    text-decoration: none;
    color: #1f1f1f;
    line-height: unset;
    padding-right: 20px;

    transition: ease .3s;
}

.contactLinks a:nth-child(1):hover i, .contactLinks a:nth-child(2):hover i
{
    color: #3b5998;
}

.contactLinks a:nth-child(3):hover i
{
    color: #808080;
}

.sideMenu a.closeButton
{
    float: right;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30;
    left: auto;
    right: 30;
    background-color: transparent;

    transition: ease .3s;
}

.sideMenu a.closeButton div
{
    position: absolute;
    width: 60px;
    height: 7px;
    top: 50%;
    left: 0;
    background-color: #FF620B;

    transition: ease .3s;
}

.sideMenu a.closeButton div:nth-child(1)
{
    transform: rotate(45deg);
}

.sideMenu a.closeButton div:nth-child(2)
{
    transform: rotate(-45deg);
}

.sideMenu a.closeButton:hover div
{
    width: 65px;
    background-color: #B24204;
}
/*#endregion Side menu */

/*#region Shapes */
.Cercle01
{
    float: left;
    position: absolute;
    width: 700px;
    height: 700px;
    left: 250;
    top: -300;
    background-color: #e0e0e0;
    border-radius: 999px;

    transition: ease .3s;
}

.Cercle02
{
    float: right;
    position: absolute;
    width: 300px;
    height: 300px;
    right: 100;
    bottom: 20;
    background-color: #e0e0e0;
    border-radius: 999px;

    transition: ease .3s;
}

.infoTextImageBox
{
    display: block;
    float: left;
    position: absolute;
    width: calc(100% - 700px);
    height: 700px;
    top: 220;
    left: 350;
    background-image: linear-gradient(to top right, #B24204, #FF620B);
    border-radius: 40px;

    z-index: 3;

    transition: ease .3s;
}

#f01
{
    animation: fadeInUp .5s ease-out forwards .5s;
}

.infoTextImageBox h1
{
    font-family: 'Open Sans', sans-serif;

    position: absolute;
    top: 10;
    left: 30;
    font-size: 80px;
    font-weight: bolder;
    color: #e9e9e9;
    padding: 0;
    margin: 0;

    text-shadow: 5px 5px 5px #00000044;

    transition: ease .3s;
}

.infoTextImageBox img
{
    float: right;
    position: absolute;
    height: 300px;
    top: 120;
    right: 50;
    transform-origin: bottom center;

    filter: drop-shadow(5px 5px 20px #00000088);
    -webkit-filter: drop-shadow(5px 5px 10px #00000088);

    transition: ease .3s;
}

.infoTextImageBox div.imageShadow
{
    display: none;
    float: left;
    position: absolute;
    width: 300px;
    height: 70px;
    bottom: -50;
    left: 70;
    transform-origin: bottom center;
    background-image: radial-gradient(#00000059, transparent 50%);
}

.infoTextImageBox h3
{
    position: absolute;
    top: 200;
    left: 40;
    font-size: 24px;
    font-weight: 100;
    color: #e9e9e9;
    padding: 0;
    margin: 0;

    text-shadow: 5px 5px 5px #00000044;

    transition: ease .3s;
}

.infoTextImageBox h2
{
    position: absolute;
    top: 230;
    left: 40;
    font-size: 50px;
    font-weight: bolder;
    color: #fdefe5;
    padding: 0;
    margin: 0;

    text-shadow: 5px 5px 5px #00000044;

    transition: ease .3s;
}

.infoTextImageBox a
{
    position: absolute;
    top: 530;
    left: calc(50% - 80px);
    font-size: 30px;
    text-decoration: none;
    color: #1f1f1f;
    background-color: #e9e9e9;
    padding: 3px 30px;
    border-radius: 999px;

    box-shadow: 5px 5px 5px #00000044;

    transition: ease .3s;
}

.infoTextImageBox:hover
{
    top: 110;
}

.infoTextImageBox img:hover
{
    height: 320px;
    transform: translateX(5px) translateY(-18px);
}

.infoTextImageBox a:hover
{
    padding: 3px 80px;
    transform: translateX(-50px);
}
/*#endregion Shapes */

/*#region Colors */
#f02
{
    background-image: linear-gradient(to top right, #00B2AE, #0BFFF9);
}

#f03
{
    background-image: linear-gradient(to top right, #c33b8d, #ff88cf);
}
/*#endregion Colors */

/*#region Main page */
.mainTitle
{
    position: absolute;
    font-size: 60px;
    font-weight: bolder;
    top: calc(50% - 80px);
    left: -50;
    color: #1f1f1f;
    transform: rotate(-90deg);

    transition: ease .3s;
    animation: Titals .3s ease-out forwards .5s;
    transform: translateX(-100px) rotate(0deg);
    opacity: 0;
}

.secondTitle
{
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    top: calc(50% - 50px);
    left: 130;
    color: #c7c7c7;
    transform: rotate(-90deg);

    transition: ease .3s;
    animation: Titals .3s ease-out forwards .7s;
    transform: translateX(-100px) rotate(0deg);
    opacity: 0;
}

.sideLinks
{
    float: right;
    position: absolute;
    width: 50px;
    height: 250px;
    top: calc(50% - 125px);
    right: 50px;

    transition: ease .3s;
    animation: dropRight .3s ease-out forwards 1s;
    transform: translateX(110px);
    opacity: 0;
}

.sideLinks a
{
    display: table;
    width: 100%;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 50px;
    color: #a1a1a1;

    transition: ease .3s;
}

.sideLinks a:nth-child(1):hover, .sideLinks a:nth-child(2):hover
{
    color: #3b5998;
}

.sideLinks a:nth-child(3):hover
{
    color: #808080;
}

.prevButton, .nextButton
{
    position: absolute;
    width: 170px;
    height: 50px;
    bottom: 30;
    text-decoration: none;
    background-color: transparent;

    z-index: 5;

    transition: ease .3s;
}

.prevButton
{
    float: left;
    left: 50;
}

.nextButton
{
    float: right;
    right: 50;
}

.prevButton p, .nextButton p, .prevButton i, .nextButton i
{
    position: absolute;
    width: 100%;
    top: calc(50% - 15px);
    font-size: 26px;
    padding: 0;
    margin: 0;

    transition: ease .3s;
}

.prevButton i, .nextButton i
{
    font-size: 30px;
    top: calc(50% - 12px);
}

.prevButton p, .nextButton i
{
    text-align: right;
}

.nextButton p, .prevButton i
{
    text-align: left;
}

.prevButton:hover i, .nextButton:hover i
{
    font-size: 38px;
    top: calc(50% - 16px);
}
/*#endregion Main page */

img
{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*#region Animations */
@keyframes dropDown
{
    0%
    {
        transform: translateY(-110px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes dropRight
{
    0%
    {
        transform: translateX(110px);
        opacity: 0;
    }

    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes Titals
{
    0%
    {
        transform: translateX(-100px) rotate(0deg);
        opacity: 0;
    }

    100%
    {
        transform: translateX(0px) rotate(-90deg);
        opacity: 1;
    }
}

@keyframes fadeOutInfoTextImageBox
{
    0%
    {
        transform: translateY(0pc);
        visibility: unset;
        opacity: 1;
    }

    100%
    {
        transform: translateY(100px);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fadeOutDown
{
    0%
    {
        transform: translateY(0pc);
        visibility: unset;
        opacity: 1;
    }

    100%
    {
        transform: translateY(100px);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fadeInInfoTextImageBox
{
    0%
    {
        transform: translateY(100pc);
        visibility: hidden;
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        visibility: unset;
        opacity: 1;
    }
}

@keyframes fadeInUp
{
    0%
    {
        transform: translateY(100pc);
        visibility: hidden;
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        visibility: unset;
        opacity: 1;
    }
}
/*#endregion Animations */

/*#region Media 1300-1000 */
@media screen and (max-width: 1300px)
{
    .mainTitle
    {
        left: -70;
    }

    .secondTitle
    {
        left: 110;
    }
}

@media screen and (max-width: 1200px)
{
    .mainTitle
    {
        left: -90;
    }

    .secondTitle
    {
        left: 90;
    }

    .infoTextImageBox
    {
        width: calc(100% - 500px);
        left: 250;
    }
}

@media screen and (max-width: 1100px)
{
    .mainTitle
    {
        left: -80;
        font-size: 50px;
    }

    .secondTitle
    {
        left: 70;
        font-size: 26px;
    }

    .prevButton
    {
        left: 20;
    }

    .nextButton
    {
        right: 20;
    }
}

@media screen and (max-width: 1000px)
{
    .mainTitle
    {
        left: -50;
    }

    .secondTitle
    {
        left: 110;
    }

    .infoTextImageBox
    {
        width: calc(100% + 40px - 150px);
        height: 350px;
        top: calc(50% - 175px);
        left: 320;
        background-image: linear-gradient(to top left, #B24204, #FF620B);
    }

    .infoTextImageBox img
    {
        float: left;
        height: 250px;
        top: 120;
        left: 150;
    }

    .infoTextImageBox div.imageShadow
    {
        display: inline;
    }

    .infoTextImageBox h3
    {
        top: 150;
        left: 320;
    }

    .infoTextImageBox h2
    {
        top: 180;
        left: 320;
    }

    .infoTextImageBox a
    {
        top: auto;
        bottom: 30;
        left: 400;
    }

    .infoTextImageBox:hover
    {
        top: calc(50% - 175px);
        left: 200;
    }

    .infoTextImageBox img:hover
    {
        width: auto;
        height: 270px;
        transform: translateY(-20px) translateX(-5px);
    }

    .infoTextImageBox:hover h3
    {
        top: 60;
        left: 430;
    }

    .infoTextImageBox:hover h2
    {
        top: 150;
        left: 425;
    }

    .infoTextImageBox:hover a
    {
        left: 420;
    }

    .infoTextImageBox a:hover
    {
        padding: 3px 70px;
        transform: translateX(-40px);
    }

    .sideLinks
    {
        float: left;
        width: 300px;
        height: 50px;
        top: auto;
        bottom: 40px;
        right: auto;
        left: calc(50% - 125px);
    }

    .sideLinks a
    {
        display: unset;
        width: 50px;
        text-align: left;
        padding-bottom: 0;
        padding-right: 50px;
    }

    .prevButton
    {
        left: 50;
    }

    .nextButton
    {
        right: 50;
    }

    @keyframes fadeOutInfoTextImageBox
    {
        0%
        {
            transform: translateX(0pc);
            visibility: unset;
            opacity: 1;
        }

        100%
        {
            transform: translateX(100px);
            visibility: hidden;
            opacity: 0;
        }
    }

    @keyframes fadeInInfoTextImageBox
    {
        0%
        {
            transform: translateX(100pc);
            visibility: hidden;
            opacity: 0;
        }

        100%
        {
            transform: translateX(0px);
            visibility: unset;
            opacity: 1;
        }
    }

    /* Colors */
    #f02
    {
        background-image: linear-gradient(to top left, #00B2AE, #0BFFF9);
    }

    #f03
    {
        background-image: linear-gradient(to top left, #c33b8d, #ff88cf);
    }
}
/*#endregion Media 1300-1000 */

/*#region Media 900-700 */
@media screen and (max-width: 900px)
{
    .mainTitle
    {
        left: -80;
        font-size: 50px;
    }

    .secondTitle
    {
        left: 70;
        font-size: 26px;
    }

    .infoTextImageBox
    {
        left: 260;
    }

    .infoTextImageBox:hover
    {
        left: 150;
    }
}

@media screen and (max-width: 850px)
{
    .topBar a.Contacts
    {
        display: inline;
    }

    .sideLinks
    {
        display: none;
    }

    .Cercle01
    {
        left: -200;
    }

    .infoTextImageBox
    {
        width: calc(100% + 40px - 50px);
        top: calc(50% - 110px);
        left: 150;
    }

    .infoTextImageBox:hover
    {
        top: calc(50% - 110px);
        left: 50;
    }

    .mainTitle
    {
        top: 80;
        left: 50;
        font-size: 50px;
        transform: rotate(0deg);
    }

    .secondTitle
    {
        top: 150;
        left: 250;
        font-size: 26px;
        transform: rotate(0deg);
        color: #a1a1a1;
    }

    @keyframes Titals
    {
        0%
        {
            transform: translateX(-100px);
            opacity: 0;
        }

        100%
        {
            transform: translateX(0px);
            opacity: 1;
        }
    }
}

@media screen and (max-width: 750px)
{
    .prevButton, .nextButton
    {
        width: 30px;
    }

    .prevButton p, .nextButton p
    {
        display: none;
    }

    .topBar a, .topBar a.Contacts
    {
        display: none;
    }

    .topBar a.threeLineButton
    {
        display: inline-block;
    }
    .sideMenu
    {
        display: inline;
    }

    .infoTextImageBox
    {
        width: 350px;
        height: calc(100% + 40px - 50px);
        top: -200;
        left: auto;
        right: 30;
    }

    .infoTextImageBox h1
    {
        top: auto;
        bottom: 10;
        left: 30;
    }
    
    .infoTextImageBox img
    {
        top: auto;
        bottom: -30;
        left: 170;
    }

    .infoTextImageBox div.imageShadow
    {
        bottom: -60;
        left: 90;
    }

    .infoTextImageBox h3
    {
        top: 250;
        left: 60;
    }

    .infoTextImageBox h2
    {
        top: 280;
        left: 60;
    }

    .infoTextImageBox a
    {
        display: none;
    }

    .infoTextImageBox:hover
    {
        top: -200;
        left: auto;
        right: 30;
    }

    .infoTextImageBox:hover h2
    {
        top: 280;
        left: 60;
    }

    .infoTextImageBox:hover h3
    {
        top: 250;
        left: 60;
    }

    .infoTextImageBox:hover img
    {
        height: 280px;
        transform: translateX(-7px);
    }

    .mainTitle
    {
        left: 30;
    }

    .secondTitle
    {
        left: 35;
    }

    @keyframes fadeOutInfoTextImageBox
    {
        0%
        {
            transform: translateY(0pc);
            visibility: unset;
            opacity: 1;
        }

        100%
        {
            transform: translateY(-100px);
            visibility: hidden;
            opacity: 0;
        }
    }

    @keyframes fadeInInfoTextImageBox
    {
        0%
        {
            transform: translateY(-100pc);
            visibility: hidden;
            opacity: 0;
        }

        100%
        {
            transform: translateY(0px);
            visibility: unset;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 700px)
{
    .mainTitle
    {
        top: calc(50% - 80px);
        left: -80;
        font-size: 50px;
        transform: rotate(-90deg);
    }

    .secondTitle
    {
        top: calc(50% - 50px);
        left: 70;
        font-size: 26px;
        transform: rotate(-90deg);
    }

    @keyframes Titals
    {
        0%
        {
            transform: translateX(-100px) rotate(0deg);
            opacity: 0;
        }

        100%
        {
            transform: translateX(0px) rotate(-90deg);
            opacity: 1;
        }
    }
}
/*#endregion Media 900-700 */

/*#region Media 600-400 */
@media screen and (max-width: 600px)
{
    .Cercle02
    {
        right: -80;
        bottom: -150;
    }
}

@media screen and (max-width: 500px)
{
    .infoTextImageBox
    {
        width: calc(100% - 90px);
        height: calc(100% + 40px - 50px);
        top: -200;
        left: auto;
        right: -40;
    }

    .infoTextImageBox:hover
    {
        top: -200;
        left: auto;
        right: -40;
    }
}

@media screen and (max-width: 450px)
{
    .infoTextImageBox h1
    {
        top: 200px;
        bottom: auto;
        left: 20;
    }

    .infoTextImageBox img
    {
        left: 60;
    }

    .infoTextImageBox div.imageShadow
    {
        left: -20;
    }

    .infoTextImageBox h3
    {
        top: 320;
    }

    .infoTextImageBox h2
    {
        top: 350;
    }

    .infoTextImageBox:hover h3
    {
        top: 320;
    }

    .infoTextImageBox:hover h2
    {
        top: 350;
    }
}
/*#endregion Media 600-400 */

/*#region Media 380-350 */
@media screen and (max-width: 380px)
{
    .infoTextImageBox img
    {
        height: 200px;
    }

    .infoTextImageBox div.imageShadow
    {
        width: 240px;
        left: -5;
    }

    .infoTextImageBox:hover img
    {
        height: 220px;
        transform: translateX(-5px);
    }

    .infoTextImageBox:hover h3
    {
        left: 60;
    }

    .infoTextImageBox:hover h2
    {
        left: 60;
    }
}

@media screen and (max-width: 350px)
{
    .infoTextImageBox h1
    {
        top: 210px;
        font-size: 60px;
    }

    .infoTextImageBox img
    {
        height: 150px;
    }

    .infoTextImageBox div.imageShadow
    {
        width: 190px;
        height: 50px;
        bottom: -52;
        left: 7;
    }

    .infoTextImageBox h3
    {
        top: 300;
        left: 30;
    }

    .infoTextImageBox h2
    {
        top: 330;
        left: 30px;
        font-size: 45px;
    }

    .infoTextImageBox:hover img
    {
        height: 170px;
    }

    .infoTextImageBox:hover h3
    {
        top: 300;
        left: 30;
    }

    .infoTextImageBox:hover h2
    {
        top: 330;
        left: 30px;
    }

    .sideMenu a
    {
        left: 60;
    }

    .sideMenu .contactLinks
    {
        bottom: 45;
    }

    .sideMenu .contactLinks a
    {
        font-size: 30px;
    }
}
/*#endregion Media 380-350 */
